body {
  min-height: 80vh;
}

h3,
p {
  text-align: center;
}

.logo img {
  width: 56px;
  margin-right: 4px;
  margin-top: auto;
  margin-bottom: auto;
}

.profile-card {
  width: 100%;
  min-width: 500px;
  margin: 0 auto;
}

.profile-card img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}

.profile-card h3 {
  margin: 10px 0 5px;
}

.profile-card p {
  margin: 0;
  color: #888;
  font-size: 14px;
}

.profile-container {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.profile-container a {
  text-decoration: none;
  color: #333;
  display: flex;
  align-items: center;
  gap: 5px;
}

.email-section {
  text-align: left;
  margin: 20px 0;
}

.email-item {
  display: flex;
  align-items: center;
  gap: 10px;
  background: #fff;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
  margin-bottom: 10px;
}

.email-item i {
  color: #ff5722;
  font-size: 18px;
}